.user-info {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: whitesmoke;
    margin: 7px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-panel {
    grid-area: user-panel;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.user-name-first, .user-name-second, .user-time-first, .user-time-second {
    text-align: center;
    font-weight: 700;
    position: relative;
    top: 35%;
}