.words-block {
    grid-area: words-block;
    background-color: rgba(237, 231, 225, 0.7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: repeat(8, 50.5px);
    border: 4px solid rgb(237, 231, 225, 0.7);
    grid-gap: 20px;
    min-height: 5.7vh;
}

.letter-style {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50.5px;
    width: 50.5px;
    border-radius: 5px;
    background-color: #fdeb37;
    cursor: pointer;
    pointer-events: fill;
}

.letter-style:hover {
    border: 2px solid black;
    filter: saturate(150%);
    transition: filter 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}

.span-style {
    font-size: 20px;
    font-weight: 900;
}

.icon-style {
    font-size: 40px;
    color: #fdeb37
}

.icon-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-self: flex-end;
    position: absolute;
}

.letter-style-change{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50.5px;
    width: 50.5px;
    border-radius: 5px;
    background-color: black;
    cursor: pointer;
    pointer-events: fill;
}

.letter-style-change:hover{
    border: 2px solid whitesmoke;
    filter: saturate(-150%);
    transition: filter 0.2s ease-in-out;
    transition: border-color 0.2s ease-in-out;
}